<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="http://localhost:5000/user_profile" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="username">
    </div>
    <div>
    	<label for="hair_colour">Hair Colour:</label>
    	<select id="hair_colour" name="hair_colour">
    		<option>BLONDE</option>
    		<option>RED</option>
    		<option>BROWN</option>
    		<option>BLACK</option>
    	</select>
    </div>
    <div>
    	<label for="eye_colour">Hair Colour:</label>
    	<select id="eye_colour" name="eye_colour">
    		<option>BLUE</option>
    		<option>BROWN</option>
    		<option>GREEN</option>
    	</select>
    </div>
    <div>
    	<label for="skin_temperature">Skin Temperature:</label>
    	<select id="skin_temperature" name="skin_temperature">
    		<option>WARM</option>
    		<option>COOL</option>
    	</select>
    </div>
    <div>
    	<label for="skin_tone">Skin Tone:</label>
    	<select id="skin_tone" name="skin_tone">
    		<option>15</option>
    		<option>20</option>
    		<option>25</option>
    		<option>30</option>
    		<option>35</option>
    		<option>40</option>
    		<option>45</option>
    		<option>50</option>
    	</select>
    </div>
    <button type="submit" label="Submit">Submit</button>
	</form>
</body>
</html>